* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #0c0b0c;
}
.calculator {
  width: calc(95px * 4 + 3 * 5px);
  height: calc(90px * 5 + 4 * 5px + 120px);
  background-color: #18171b;
  margin: 50px auto;
  box-shadow: 0px 0px 5px #2e2d2e;
}
.res-show {
  width: 100%;
  height: 120px;
  position: relative;
}

#res-text {
  color: #fff;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  direction: ltr;
  position: absolute;
  top: 45px;
  right: 20px;
  
}

.buttons {
  width: 100%;
  height: calc(90px * 5 + 4 * 5px);
}
.line {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 95px;
  height: 90px;
  border: none;
  color: #fff;
  background-color: #222127;
  font-size: 20px;
  font-family: arial;
  margin-right: 5px;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.line .btn:nth-child(4),
.line:nth-child(1) .btn:nth-child(3) {
  margin-right: 0px;
}
.btn:hover {
  background-color: #302e36;
  transition: 0.8s;
}

#clear {
  width: calc(95px * 2 + 4px);
  background-color: #df3a71;
}
#equal {
  background-color: #3836c2;
}

#clear:hover {
  background-color: #b92254;
  transition: 0.8s;
}
#equal:hover {
  background-color: #1d1c6d;
  transition: 0.8s;
}
